html,
body,
div,
img,
a,
ul,
li,
p,
span,
button,
input,
aside,
article {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

html,
body {
	height: 100%;
}

body {
	font-size: 16px;
	color: #fff;
	font-family: "microsoft yahei";
	-webkit-font-smoothing: antialiased;
}

input:focus {
	border: 0;
	outline: none;
	font-size: 14px;
}

a {
	color: #fff;
	text-decoration: none;
}

.clearBoth {
	clear: both;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.index-style-bg {
	background-image: url(../images/index_bg.png);
}

.content {
	height: 1080px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.load-nav {
	width: 100%;
	height: 96px;
	background: transparent;
	border: 0;
}

.main {
	width: 100%;
	height: calc(100% - 104px);
	padding-left: 7px;
	padding-right: 7px;
	overflow: hidden;
	margin-top: 8px;
}

.marginTop {
	margin-top: 8px;
}
.marginTop10 {
	margin-top: 10px;
}
.layout-bg-style {
	background-color: rgba(6, 15, 76, 0.3);
}

.layout-bottom-bg-style {
	background-image: url(../images/commen_2.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.title {
	width: 100%;
	height: 60px;
	background-image: url(../images/commen_1.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 397px 100%;
	display: flex;
	align-items: center;
	position: relative;
}

.title img {}

.title span {
	font-size: 20px;
	font-weight: bold;
}

.title a {
	font-size: 14px;
	color: #ccffff;
	position: absolute;
	right: 5px;
}

.title a:hover {
	color: #ccffff;
}


/*面包屑*/

.c-tagDorpmenu {
	width: 100%;
	height: 69px;
}

.c-tagDorpmenu .left img {
	float: left;
	margin: 15.5px 0 0 -8px;
}

.c-tagDorpmenu .left aside {
	float: left;
	margin-left: 20px;
	font-size: 26px;
	line-height: 59px;
}
.c-tagDorpmenu .right{
}

:focus {
	outline: -webkit-focus-ring-color auto 0;
}
.row{
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

select {
	color: #c3c6c8;
	width: 26%;
	height: 57px;
	background: none;
	text-align: center;
	background-image: url(../images/sub_selectBg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 15px;
	margin-top: 1px;
	margin-right: 5px;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
}
.btn-affirm{
	width: 20%;
	height: 57px;
	float: left;
	background-image: url(../images/sub_qr.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	font-size: 20px;
	color: #fff;
	line-height: 57px;
	font-weight: bold;
	cursor: pointer;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0;
	padding-right: 0;
}
.page img{
	display: block;
	width: 100%;
	margin-top: 12px;
	cursor: pointer;
}
