html,body{
	background: transparent;
}
.head-content{
	height: 96px;
	background-color: rgba(6,15,76,0.3);
	background-image: url(../images/index_8.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}
.nav-logo{
	display: flex;
	width: 20%;
	padding-left: 18px;
	padding-right: 2px;
	align-items:center;
}
.nav-logo img{
	width: 100%;
}
.nav-menu{
	width: 50%;
}
.nav-menu ul li{
	float: left;
	width: 20%;
	height: 100%;
	cursor: pointer;
	background-image: url(../images/index_9.png);
	background-position: right;
	background-repeat: no-repeat;
}
.nav-menu-other1:hover{
	color: #ffcc00;
}
.nav-menu-other2:hover{
	color: #ffcc00;
}
.nav-menu-other3:hover{
	color: #ffcc00;
}
.nav-menu-other4:hover{
	color: #ffcc00;
}
.nav-menu-other5:hover{
	color: #ffcc00;
}
.nav-menu ul li .nav-menu-other{
	display: flex;
	width: 100%;
	height: 100%;
	align-items:center;
	justify-content: center;
}
.nav-menu ul li:hover{
	background-image: url(../images/index_10.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.nav-menu ul li span{
	display: block;
	height: 64px;
	line-height: 64px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: bold;
}
.nav-menu-other .index-bg{
	width: 24px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.nav-flex{
	float: left;
	height: 100%;
}
.nav-flex ul{
	height: 100%;
}
.nav-LoginSettingQuit{
	width: 30%;
	text-align: right;
}
.nav-LoginSettingQuit ul li{
	margin-right: 10px;
	text-align: right;
	display: inline-block;
	line-height: 96px;
	font-size: 14px;
}
.nav-LoginSettingQuit ul li+li{
	text-decoration: underline;
	cursor: pointer;
}
.nav-LoginSettingQuit ul{
	padding-right: 20px;
}
.subnav p{
	display: block;
	height: 52px;
	line-height: 52px;
}
.subnav p:hover{
	color: #ffff99;
	background-image: url(../images/sub_nav_menu_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.subnav{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	position: relative;
	z-index: 99;
	background-image: url(../images/sub_3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
}