.line-title {
	font-size: 18px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.line-data {
	margin-top: 20px;
}

.line-list {
	width: 100%;
	height: 305px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.line-sation{
	height: 100%;
}

.line-list .line-col-1{
	width: 27%;
}
.line-col-1 ul{
	height: 100%;
	overflow: hidden;
}
.line-col-1 ul li{
	width: 48%;
	height: 60px;
	margin-left: 1%;
	margin-right: 1%;
	line-height: 60px;
	font-size: 18px;
	margin-bottom: 21.5px;
	background-image: url(../images/sub_16.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	text-align: center;
	cursor: pointer;
}
.clickBtn{
	background-color: #ffcc00;
}
.stateFoucs{
	background-image: url(../images/sub_17.png) !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.line-col-1 ul li:last-child{
	width: 98%;
}
.line-list .line-col-2{
	width: 36.2%;
	background-image: url(../images/sub_15.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
	
.line-chars-height{
	height: 245px;
}
.line-jczz{
	float: left;
}
.line-jczz-left{
	width: 300px;
	height: 100%;
}
.line-jczz-right{
	width: calc(100% - 300px);
	font-size: 14px;
	padding-top: 155px;
}
.line-jczz-right span{
	font-size: 30px;
	padding-left: 8%;
	padding-right: 8%;
}
.line-jczz-right span:first-child{
	color: #33ffff;
	
}
.line-jczz-right span+span{
	color: #ffcc00;
}
.line-chars-height-2 .line-jczz-right span{
	padding-left: 6%;
	padding-right: 6%;
}



.canvas-chars,
.canvas-list {
	float: left;
}

.canvas-chars {
    width: 80px;
    height: 80px;
    margin: 0 10px 0 15px;
}

.canvas-list {
	font-size: 14px;
}


.canvas-list p {
	margin-bottom: 3px;
}


.canvas-list p span+span {
	color: #00fff6;
}
.canvas-list p span{
	margin-left: 10px;
}
.line-cont-bottom {
	height: 580px;
}
.line-list ul li p span{
	font-weight: bold;
}
.line-list  .canvas-list1{

}
.line-list  .canvas-list2{
	background-image: url(../images/sub_12.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.line-mainBttom-left,
.line-mainBttom-right {
	width: calc(100% - 5px);
	height: 100%;
}

.line-mainBttom-left {
	margin-right: 5px;
}

.line-mainBttom-right {
	margin-left: 5px;
}

.line-mainBttom-chars {
	height: 520px;
	position: relative;
}

.line-mainBttom-list ul li {
	width: 20%;
	float: left;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.line-mainBttom-list ul{
	width: 96%;
	margin: 0 auto;
	height: 50px;
	border-bottom: #fff dashed 1px;
}
.line-mainBttom-list .ul1 li {
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.line-mainBttom-list .ul1{
	height: 60px;
}

#ComList ul li{
	height: 100%;
	line-height: 50px;
}
.zc{
	color: #00fff6;
}
.yc{
	color: #ff6666;
}
.dc{
	color: #ffcc00;
}
.page{
	width: 96%;
	position: absolute;
	bottom: 10px;
	left: 2%;
	z-index: 20;
}