.master{
	height: 895px;
}
.left_list1{
	height: 350px;
	position: relative;
}
.left_list2{
	height: 510px;
	margin-top: 30px;
}
.left_list1_warp ul li{
	float: left;
	width: 33%;
	text-align: center;
	font-size: 20px;
	height: 45px;
	line-height: 45px;
}
.left_list1_warp ul{
	height: 45px;
	cursor: pointer;
}
.tfList ul:hover{
	background-color: #7b6e1a;
	border-radius:50px;
}
.tr-message{
	width: 348px;
	position: absolute;
	bottom: 5px;
	left: 32%;
	z-index: 12;
}
.tr-message aside{
	text-align: center;
	width: 170px;
	height: 33px;
	float: left;
	margin-right: 4px;
	background-color: rgba(6, 15, 76, 0.3);
}
.tr-message aside img{
	margin-top: 10px;
}
.left_list2 ul li{
	float: left;
	width: 16.666667%;
	text-align: center;
	height: 49px;
	line-height: 49px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}
.left_list2 ul{
		height: 49px;
		border-bottom:#fff dashed 1px;
}
.left_list2{
	padding-left: 15px;
}
.statistics{
	height: 280px;
	background-image: url(../images/sub_2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.styleChars{
	width: 50%;
	height: 280px;
	float: left;
}
.styleChars li{
	font-size: 24px;
	margin-bottom: 30px;
}
.styleChars_ul{
	padding-top: 60px;
}
.styleChars .font-color-style1{
	color: #ffcc33;
}
.styleChars .font-color-style2{
	color: #ff6666;
}
.styleChars .font-color-style3{
	color: #33cc66;
}
.performance{
	height: 500px;
	margin-top: 45px;
}

